.page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}
.page-actions{
    display: flex;
    padding: 40px 40px 5px 40px;
    gap: 20px;
}
.page-actions__button{
    width: 140px;
    font-weight: 600;

}
@media screen and (max-width: 1300px){
    .page-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 915px){
    .page-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 650px){
    .page-wrapper{
        grid-template-columns: 1fr;
    }
}