.form-wrapper{
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    background: white;
    -webkit-box-shadow: 4px 5px 5px 9px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: 4px 5px 5px 9px rgba(34, 60, 80, 0.18);
    box-shadow: 4px 5px 5px 9px rgba(34, 60, 80, 0.18);

}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    width: 100%;
    margin-top: 15px;

}
input{
    margin: auto;
    width: 90%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
button{
    margin: auto;
    width: 50%;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #120a8f;
    color: white;
    transition: all 0.25s ease;
}
button:hover{
    background: #0b0566;
}
.link{
    font-size: 14px;
    align-self: center;
    color: cornflowerblue;
    margin-top: 15px;
    cursor: pointer;
}